
html {
  direction: rtl;
  font-family: gulf, "sans-serif";
}

body {
  font-family: gulf, "sans-serif";
}
a{
  text-decoration: none;
  transition: all ease-in-out 0.3s;
  &:hover{
    text-decoration: none;
  }
}
p {
  margin: 0;
}

.hero-section {
  transition: all ease-in-out 0.3s;
  background-color: var(--hero-section-bg);
  padding-top: 30px;
  .hero-img{
    @include media-breakpoint-down(lg){
      width: 90%;
      max-width: 400px;
      display: block;
      margin: 20px auto 0 auto;
    }
  }
}

.select-mood-container {
  box-shadow: 0px 23px 76px rgba(132, 132, 132, 0.23);
  background-color: $dark-2;
  border-radius: 100px;
  padding: 5px 7px;

  p {
    color: $gray-color;
    font-weight: 500;
    font-size: 18px;
  }

  .select-mood-toggle {
    padding: 7px;
    background-color: $dark-3;
    border-radius: 100px;

    input {
      display: none;
    }

    label {
      border-radius: 50%;
      width: 27px;
      height: 27px;
      transition: all ease-in-out 0.3s;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      svg {
        height: 1em;

        path {
          fill: $white;
        }
      }
    }

    input:checked + label {
      background-color: $white;

      svg {
        path {
          fill: $black;
        }
      }
    }
  }
}

.hero-content {
  .main-title {
    transition: all ease-in-out 0.3s;
    color: var(--main-title);
    font-weight: 700;
    font-size: 52px;
    @include media-breakpoint-down(xl){
      font-size: 45px;
    }
    @include media-breakpoint-down(sm){
      font-size: 30px;
    }
  }
  p{
    color: $form-text-color;
    font-size: 27px;
    @include media-breakpoint-down(xl){
      font-size: 24px;
    }
    @include media-breakpoint-down(sm){
      font-size: 20px;
    }
    font-weight: 500;
  }
}
.main-btn{
  box-shadow: 0px 53px 76px rgba(0, 0, 0, 0.09);
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  border: 0;
  border-radius: 4px;
  padding: 7px 15px;
  background-color: var(--main-btn-bg);
  color: $white;
  font-size: 27px;
  @include media-breakpoint-down(xl){
    font-size: 24px;
  }
  @include media-breakpoint-down(sm){
    font-size: 20px;
  }
  svg{
    height: 1.3em;
    margin-right: 8px;
    path{
      transition: all ease-in-out 0.3s;
    }
  }
  &:hover{
    background-color: var(--main-btn-hover-bg);
    color: var(--main-btn-hover-color);
    svg{
      path{
        fill: var(--main-btn-hover-color);
      }
    }
  }
}
.hero-social-list{
  box-shadow: 0px 33px 66px rgba(0, 0, 0, 0.06);
  background-color: $white;
  border-radius: 17px;
  display: inline-flex;
  padding: 15px;
  align-items: center;
  li{
    &:not(:last-child){
      margin-left: 1.2rem;
      @include media-breakpoint-down(sm){
        margin-left: 0.7rem;
      }
    }
  }
  a{
    width: 40px;
    display: block;
    text-align: center;
    svg{
      max-height: 32px;
      max-width: 30px;
      path{
        transition:  all ease-in-out 0.3s;
      }
    }
    &:hover{
      svg{
        path{
          fill:$dark-2 ;
        }
      }
    }
    @include media-breakpoint-down(xl){
      width: 28px;
      svg{
        max-height: 27px;
        max-width: 27px;
      }
    }
    @include media-breakpoint-down(sm){
      width: 24px;
      svg{
        max-height: 23px;
        max-width: 23px;
      }
    }
  }
}
.service-section{transition:  all ease-in-out 0.3s;
  background-color: var(--service-bg);
  overflow: hidden;
}
.service-title{
  display: flex;
  align-items: center;
  h3{
    font-size: 40px;
    color: var(--service-title-color);
    font-weight: 600;
    @include media-breakpoint-down(md){
      font-size: 35px;
    }
    @include media-breakpoint-down(sm){
      font-size: 30px;
    }
  }
  svg{
    @include media-breakpoint-down(md){
      height: 40px;
      width: auto;
    }
    @include media-breakpoint-down(sm){
      height: 36px;
      width: auto;
    }
    path{
      fill: var(--service-title-color);
    }
  }
}
.service-list{
  li{
    &:not(:last-child){
      margin-bottom: 15px;
    }
    color: $form-text-color;
    position: relative;
    padding-right:50px;
    @include media-breakpoint-down(sm){
      padding-right:37px;
    }
    font-size: 27px;
    @include media-breakpoint-down(xl){
      font-size: 24px;
    }
    @include media-breakpoint-down(sm){
      font-size: 20px;
    }
    font-weight: 500;
    &:before{
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 7px;
      width: 26px;
      height: 23px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.074' height='23.69' viewBox='0 0 27.074 23.69'%3E%3Cpath id='Folder-check' d='M23.705,4.259l-7.794-.017L13.33,1.658A2.9,2.9,0,0,0,11.41.875H3.371A3.384,3.384,0,0,0,0,4.259V21.181H0a3.4,3.4,0,0,0,3.4,3.384H23.678a3.38,3.38,0,0,0,3.4-3.384V7.644a3.384,3.384,0,0,0-3.369-3.384ZM19,11.886,13.172,18.22a1.423,1.423,0,0,1-1.038.534h-.079a1.431,1.431,0,0,1-1.011-.425L8.178,15.474A1.432,1.432,0,0,1,10.2,13.449l1.74,1.74,4.835-5.084a1.432,1.432,0,0,1,2.236,1.789Z' transform='translate(0 -0.875)' fill='%23afb7c4' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      @include media-breakpoint-down(sm){
        width: 23px;
        height: 19px;
      }
    }
  }
}
.section-p{
  padding-top: 90px;
  padding-bottom: 90px;
  @include media-breakpoint-down(sm){
    padding-top: 60px;
    padding-bottom: 60px;
  }

}
.service-img-container{
  position: relative;
  max-width: 90%;
  @include media-breakpoint-down(lg){
    margin: 0 auto;
    max-width: 70%;
  }

  img.service-img{
    width: 100%;
    position: relative;
    z-index: 10;
  }
  img.ship-1{
    position: absolute;
    top: -20px;
    right: -35px;
    width: 40%;
    height: auto;
  }
  .ship-2{
    position: absolute;
    right: 0;
    height: 120%;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    path{
      fill: var(--ship2);
    }
  }
  &.v-img{
    .ship-2{
      width: 150%;
      height: auto;
      top: 50%;
      right: 10%;
    }
  }
  &.right-img{
    .ship-1{
      right: auto;
      left: -35px;
    }
    .ship-2{
      right: auto;
      left: 0;
    }
    &.right-img{
      .ship-2{
        right: auto;
        left: 10%;
      }
    }
  }
}
